body {
    background-color: rgb(50, 50, 50);
    color: white;
}

svg:hover g {
    stroke: white !important;
}

svg:hover {
    cursor: pointer;
}

.customfont {
    font-family: 'Spartan', sans-serif;
}

.row {
    display: flex;
    margin-right: 16px;
}

.col {
    flex: 1;
}

h1 {
    font-family: 'Spartan', sans-serif;
}

p {
    font-family: 'Spartan', sans-serif;
}

@media only screen and (max-width:790px) {
    #main {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}